#print-cover {
  display: none;
}
@media print {
    h1 {
        break-before: page;
    }
    table {
        font-size: 1rem !important;
    }
    tr {
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group; /* sorgt dafür, dass Kopfzeilen auf jeder Seite wiederholt werden */
    }
    tfoot {
        display: table-footer-group;
    } 
    .markdown-body {
        background: white;
        box-sizing: border-box;
        min-width: 200px;
        max-width: 900px;
        border-radius: 0px;
        box-shadow: none;
        font-size: 1rem !important;
        padding: unset;
    }
    .no-print {
        display: none !important;
    }
    .page-break {
        page-break-before: always !important; 
    }
    .inline-icon {
        height: 1rem;
        vertical-align: middle;
    }
    main {
        background: white;
        padding: 0;
    }
    @page {
        size: A4 portrait; 
        margin: 20mm; 

        @bottom-center {
            content: "- " counter(page) " -";
            font-family: Arial, sans-serif;
            font-size: 0.6rem;
        }
    }     
    @page:first {
        margin: 0; 
        @bottom-center {  content: ""; } 
    }
    body {
        background: white;
        display: block;
        margin: 0;
    }
    code {
        white-space: pre-wrap !important;   
        word-wrap: break-word !important;   
        overflow-wrap: break-word !important; 
        font-size: x-small !important;
    }
    #print-cover {
        margin: 0;
        max-height: 277mm;
        height: 277mm;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24pt;
        font-weight: bold;
        text-align: center;
        background: white;
    }
    #cover-author {
        margin-top: 2rem;
        font-size: medium;
    }    
    #cover-version {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: small;
    }
    #cover-date {
        font-size: small;
    }    
    #print-toc {
        margin: 0;
        background: white;
        list-style-type: none;
    }
    .pdftoc {
        font-size: 1rem !important;
    }
    .toc-h2 {
        padding-left: 1rem !important;
        font-size: 0.9rem !important;
    }
    .pdftoc a {
        color: black;
        text-decoration: none !important;
    }
    .print-toc-headline {
         break-before: avoid;
    }
    #print-toc-container {
        display: inherit !important;
    }
}

#print-toc-container {
    display: none;
}

.toc-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.toc-title {}

.toc-page {
    padding-right: 2rem;
    max-width: 5rem;
    overflow: hidden;          
    white-space: nowrap;       
    text-overflow: ellipsis;   
    vertical-align: middle; 
}
    
.heading-link {
  font-size: 0.1px;            
  color: white;       
}