.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip .tooltiptext {
visibility: hidden;
    max-width: 480px;
    background-color: rgb(48, 46, 54);
    color: #fff;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: max-content;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: .8;
}
.tooltip:hover .tooltiptext img {
    width: 1.25rem !important;
    margin-right: 0.25rem;
}