body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
}
nav {
    width: 250px;
    padding-left: 1em;
    padding-right: 1em;
    overflow-y: auto;
    position: sticky;
    top: 0;
    height: 100vh;
}
nav h2 {
    font-size: 1.2em;
    margin-top: 0;
}
nav ul {
    list-style: none;
    padding-left: 0;
}
nav ul li {
    margin: 0.6em 0;
}
nav a {
    text-decoration: none;
    color: #0366d6;
}
nav a:hover {
    text-decoration: underline;
}
main {
    flex: 1;
    padding: 2em;
}
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
    border-radius: 6px;
}
img {
    max-width: 100%;
    height: auto;
}
.arc42-logo-div {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
}
.arc42-logo {
    width: 10rem;
}
@media print {
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 900px;
        border-radius: 0px;
    }
    .no-print {
        display: none !important;
    }
    .page-break {
        page-break-before: always; 
    }
    main {
        padding: 0;
    }
    @page {
        margin-top: 20mm;
        margin-left: 20mm;
        margin-right: 20mm;
        margin-bottom: 20mm;
        @bottom-center {
            content: "Page " counter(page) " of " counter(pages);
            font-family: Arial, sans-serif;
            font-size: 0.5rem;
        }
    }      
}
@media (max-width: 1400px) {
    nav {
        display: none;
    }
} 