body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
}
nav {
    width: 250px;
    position: sticky;
    overflow-y: auto;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav .top {
  height: 7rem; 
  flex-shrink: 0;
}

nav .middle {
  flex: 1 1 auto;  
  overflow-y: auto; 
}

nav .bottom {
  height: 5rem;
  flex-shrink: 0;
  margin-top: 2rem;
}

.ascii {
  font-size: 0.5rem;
  font-family: monospace;
  white-space: pre;
  color: rgb(117, 124, 169);
  position: relative;
  bottom: -15px;
}
nav h2 {
    font-size: 1.2em;
    margin-top: 0;
}
nav ul {
    list-style: none;
    padding-left: 0;
}
nav ul li {
    margin: 0.6em 0;
}
nav a {
    text-decoration: none;
    color: #656d76;
}
nav a:hover {
    text-decoration: none;
    color: #0969da;
}
main {
    flex: 1;
    padding: 2em;
}
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
    border-radius: 6px;
}
img {
    max-width: 100%;
    height: auto;
}
.arc42-logo-div {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
}
.arc42-logo {
    width: 10rem;
}
#print-cover {
  display: none;
}
@media print {
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 900px;
        border-radius: 0px;
    }
    .no-print {
        display: none !important;
    }
    .page-break {
        page-break-before: always; 
    }
    main {
        padding: 0;
    }
    @page {
        size: A4 portrait; 
        margin: 20mm; 

        @bottom-center {
            content: "Page " counter(page) " of " counter(pages);
            font-family: Arial, sans-serif;
            font-size: 0.5rem;
        }
    }     
    @page:first {
          @bottom-center {  content: ""; } 
    }
    body {
        display: block;
        margin: 0;
    }
    #print-cover {
        margin: 0;
        display: block;
        width: 210mm;
        height: 297mm;
        page-break-after: always;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24pt;
        font-weight: bold;
        text-align: center;
    }
    #cover-author {
        margin-top: 2rem;
        font-size: medium;
    }    
    #cover-version {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: small;
    }
    #cover-date {
        font-size: small;
    }    
}

@media (max-width: 1500px) {
    nav {
        display: none;
    }
} 